:root {
  --font-primary: var(--font-onest);

  --color-white: #ffffff;

  --black-100: #19324b;
  --divider-50: #ced0db;
  --bg-20: #f8fafd;
  --white-0: #fdfaf9;

  --red-accent: #f83833;
  --yellow-orange-accent: #ffc037;
  --yellow-orange-gradient: linear-gradient(180deg, #ffc037 0%, #f83833 100%);

  --brand-gradient-original: linear-gradient(
    90deg,
    #a14f1e -0.77%,
    #c38358 49.88%,
    #bd7c53 65.07%,
    #ae6b46 85.33%,
    #a25d3d 100.52%
  );
  --brand-gradient: linear-gradient(180deg, #c38358 0%, #a25120 100%);
  --brand-light-gradient: linear-gradient(180deg, #efd7cb 0%, #dcbcac 100%);

  --font-title-1: normal 500 30px / 110% var(--font-primary), sans-serif;
  --font-title-2: normal 600 20px / 105% var(--font-primary), sans-serif;
  --font-text-medium: normal 500 14px / 120% var(--font-primary), sans-serif;
  --font-text-regular: normal 400 14px / 140% var(--font-primary), sans-serif;
  --font-answer: normal 500 14px / 120% var(--font-primary), sans-serif;
  --font-result: normal 500 20px / 120% var(--font-primary), sans-serif;

  --font-button: normal 500 16px / 120% var(--font-primary), sans-serif;

  --space: 4px;
  --space8: calc(var(--space) * 2);
  --space12: calc(var(--space) * 3);
  --space16: calc(var(--space) * 4);
  --space20: calc(var(--space) * 5);
  --space24: calc(var(--space) * 6);
  --space28: calc(var(--space) * 7);
  --space32: calc(var(--space) * 8);
  --space36: calc(var(--space) * 9);
  --space40: calc(var(--space) * 10);
  --space44: calc(var(--space) * 11);
  --space48: calc(var(--space) * 12);

  --border-radius: 4px;
  --border-radius8: calc(var(--border-radius) * 2);
  --border-radius12: calc(var(--border-radius) * 3);
  --border-radius16: calc(var(--border-radius) * 4);
  --border-radius20: calc(var(--border-radius) * 5);

  --transition-short: 0.15s;
  --transition: 0.3s;
  --transition-long: 0.45s;

  --transition-f: ease-out;

  --scrollbar-track-color: transparent;
  --scrollbar-color: var(--yellow-orange-accent);
  --scrollbar-side: var(--space8);

  /* widescreen */
  @media (width >= 1200px) {
    --font-title-1: normal 500 50px / 105% var(--font-primary), sans-serif;
    --font-title-2: normal 600 32px / 105% var(--font-primary), sans-serif;
    --font-text-medium: normal 500 16px / 120% var(--font-primary), sans-serif;
    --font-text-regular: normal 400 14px / 140% var(--font-primary), sans-serif;
    --font-answer: normal 500 14px / 120% var(--font-primary), sans-serif;
    --font-result: normal 500 24px / 120% var(--font-primary), sans-serif;
  }
}
